<ion-view title="Tabs">
    <div class="spacer" style="width: 320px; height: 88px;"></div>
    <ion-tabs class="tabs-stable tabs-icon-top">
        <ion-tab title="qwdreqwe" icon="ion-ios7-camera">
            <ion-nav-view name="tab4"></ion-nav-view>
            <ion-content padding="true" class="has-header">
                <div class="list card">
                    <div class="item item-divider">Card</div>
                    <div class="item item-body"></div>
                </div>
                <div class="list card">
                    <div class="item item-divider">Card</div>
                    <div class="item item-body"></div>
                </div>
                <div class="button-bar">
                    <button class="button button-balanced button-block button-large icon ion-android-add button-full"></button>
                    <button class="button button-stable button-block ">2</button>
                    <button class="button button-stable button-block ">3</button>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Tab" icon="ion-ios7-camera">
            <ion-nav-view name="tab5"></ion-nav-view>
            <ion-content padding="true" class="has-header">
                <div class="spacer" style="width: 0px; height: 69px;"></div>
                <div class="list card">
                    <div class="item item-divider">Card</div>
                    <div class="item item-body"></div>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="qq" icon="ion-ios7-camera">
            <ion-nav-view name="tab6"></ion-nav-view>
            <ion-content padding="true" class="has-header">
                <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
            </ion-content>
        </ion-tab>
        <ion-tab title="Tab 4" icon="ion-ios-camera" href="#/tabs/page5">
            <ion-nav-view name="tab7"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>